#header {
  background-color: #112240;
  color: #fafafa;
}
#header a {
  color: #fafafa;
}
#header-img {
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#content {
  /* color: #112240; */
}

#footer{
  background-color: #112240;
  color: #fafafa;
}

.grayscale{
  filter: grayscale(100%);
}

.btn-primary{
  background-color: #112240;
  color: #fafafa;
}
.btn-primary:hover{
  background-color: #fafafa;
  color: #112240;
}

.btn-outline-success{
  border: 1px solid #33c17a;
  color: #33c17a;
  background-color: transparent;
}
.btn-outline-success:hover{
  color: #fafafa;
  background-color: #33c17a;
}
#scroll-top {
  background-color: #33c17a;
  color: #fafafa;
  position: fixed;
  z-index: 1;
  bottom: 25px;
  right: 25px;
  border: none;
  display: none;
}
.card-article{
  color:#112240;
}
.card-article:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  text-decoration: none;
  color:#112240;
}