#header {
  background-color: #112240;
  color: #fafafa;
}
#header a {
  color: #fafafa;
}
#header button {
  color: #fafafa;
}
#header-img {
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#content {
  /* color: #112240; */
}

#footer{
  background-color: #112240;
  color: #fafafa;
}

.grayscale{
  filter: grayscale(100%);
}

.btn-primary{
  background-color: #112240;
  color: #fafafa;
}
.btn-primary:hover{
  background-color: #fafafa;
  color: #112240;
}

.btn-outline-success{
  border: 1px solid #33c17a;
  color: #33c17a;
  background-color: transparent;
}
.btn-outline-success:hover{
  color: #fafafa;
  background-color: #33c17a;
}